Language: Cpp
IndentWidth: 4
PointerAlignment: Left
ColumnLimit: 100

AlignConsecutiveAssignments:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: true

AlignAfterOpenBracket: BlockIndent
QualifierAlignment: Left
# BreakAfterReturnType: All
BreakBeforeBraces: Attach

BraceWrapping:
    AfterFunction: false
AllowShortFunctionsOnASingleLine: None
IndentPPDirectives: BeforeHash

SpaceBeforeCtorInitializerColon: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeInheritanceColon: false
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
