on: [push, pull_request]

name: Test

jobs:
  check:
    strategy:
      matrix:
        toolchain: [stable, beta, nightly]
        os: [ubuntu-latest]
    name: Check
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      # - uses: jwlawson/actions-setup-cmake@v2
      # - uses: dtolnay/rust-toolchain@master
      #  with:
      #    toolchain: ${{ matrix.toolchain }}
      - run: sudo apt update && sudo apt install -y libvtk9.1 libvtk9-dev

      # - name: Run cargo check
      #   run: cargo check

  test:
    strategy:
      matrix:
        toolchain: [stable, beta, nightly]
        os: [ubuntu-latest]
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: jwlawson/actions-setup-cmake@v2
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
      - run: |
          sudo apt update
          sudo apt install -y libvtk9.1 libvtk9-dev
          LD_LIBRARY_PATH=/usr/lib/
          export LD_LIBRARY_PATH
          RUSTFLAGS='-L native=/usr/lib/x86_64-linux-gnu/' && cargo test --features vtk9-1

  doctest:
    strategy:
      matrix:
        toolchain: [stable, beta, nightly]
        os: [ubuntu-latest]
    name: DocTest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: jwlawson/actions-setup-cmake@v2
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
      - run: sudo apt update && sudo apt install -y libvtk9.1 libvtk9-dev

      - name: Run cargo test
        run: cargo test --doc --features vtk9-1
